body {
    background-image: url(about.png);
    background-attachment: fixed;
    background: size 2000px;
    margin:0,1,1;
    height: 1000px;
    padding: 0,0,1;
    color: white;
}

header{
    background-color:rgb(105, 105, 105) ;
    padding: 20px;
    color: beige;
}
h1{
 font-size: 30px;
 margin: 0;
}
footer{
    background-color: rgb(247, 247, 211);
    padding: 20px;
    color:black
    text-align: center;
}